<%- include("includes/header"); -%>
<body>
  <header>
    <nav>
      <a href="/" class="HeaderLogo"><span>Ky4n</span></a>
      <div class="HeaderLinks">
        <ul class="NavLinks">
          <li class="NavLink"><a href="/">Home</a></li>
          <li class="NavLink"><a href="/infectados">Infectados</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="SectionMain">
    <div class="main">
      <img src="/images/ky4n.png" alt="Ky4n" class="invert" />
      <h1>Error 404</h1>
      <p>404 - Not Found / Inicio</p>
    </div>
  </section>
  <footer>Created By<a>:</a> Aqu4x0<a>/</a> Mr.Char with <a>❤</a></footer>
</body>
